.head {
    background-color: rgb(66, 43, 80);
    margin: 0; padding: 0; width: 100%; height: 4rem;
    text-align: center; display: flex; flex-direction: rom;
    justify-content: center; gap: 15%; align-items: center; border-bottom: 3px solid rgb(71, 1, 52);
}
.head a{
    color: rgb(215, 203, 203);
}
.head a:hover{
    color: rgb(166, 155, 208);
}
@media screen and (min-width: 1320px) {
    .head{
    height: 12rem;
        font-size: 60px;
    }
}